@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
span,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* colors */

:root {
  color-scheme: light dark;

  /* Accent */
  --color-accent-50: light-dark(#eaf4fa, #07141d);
  --color-accent-100: light-dark(#d5e9f6, #091d2a);
  --color-accent-200: light-dark(#acd3ec, #133a53);
  --color-accent-300: light-dark(#82bee3, #1c587d);
  --color-accent-400: light-dark(#59a8d9, #2675a6);
  --color-accent-500: light-dark(#2f92d0, #2f92d0);
  --color-accent-600: light-dark(#2675a6, #59a8d9);
  --color-accent-700: light-dark(#1c587d, #82bee3);
  --color-accent-800: light-dark(#133a53, #acd3ec);
  --color-accent-900: light-dark(#091d2a, #d5e9f6);
  --color-accent-950: light-dark(#07141d, #eaf4fa);

  /* Alert - Error */
  --color-alert-error-50: light-dark(#eb9e9e, #9c2121);
  --color-alert-error-500: light-dark(#d94a4a, #d94a4a);
  --color-alert-error-950: light-dark(#9c2121, #eb9e9e);

  /* Alert - Info */
  --color-alert-info-50: light-dark(#92b2e5, #21498a);
  --color-alert-info-500: light-dark(#4077d1, #4077d1);
  --color-alert-info-950: light-dark(#21498a, #92b2e5);

  /* Alert - Success */
  --color-alert-success-50: light-dark(#9ae8ce, #22946e);
  --color-alert-success-500: light-dark(#47d5a6, #47d5a6);
  --color-alert-success-950: light-dark(#22946e, #9ae8ce);

  /* Alert - Warning */
  --color-alert-warning-50: light-dark(#ecd7b2, #a87a2a);
  --color-alert-warning-500: light-dark(#d7ac61, #d7ac61);
  --color-alert-warning-950: light-dark(#a87a2a, #ecd7b2);

  /* Background */
  --color-background-50: light-dark(#ffffff, #121212);
  --color-background-100: light-dark(#fafaf9, #1a1a1a);
  --color-background-200: light-dark(#f5f5f4, #333333);
  --color-background-300: light-dark(#e7e5e4, #4d4d4d);
  --color-background-400: light-dark(#d6d3d1, #666666);
  --color-background-500: light-dark(#a8a29e, #808080);
  --color-background-600: light-dark(#78716c, #999999);
  --color-background-700: light-dark(#57534e, #b3b3b3);
  --color-background-800: light-dark(#44403c, #cccccc);
  --color-background-900: light-dark(#292524, #e6e6e6);
  --color-background-950: light-dark(#1c1917, #f2f2f2);

  /* Fixed */
  --color-fixed-black: light-dark(#000000, #000000);
  --color-fixed-white: light-dark(#ffffff, #ffffff);

  /* Primary */
  --color-primary-50: light-dark(#fff2e5, #241100);
  --color-primary-100: light-dark(#ffe5cc, #331900);
  --color-primary-200: light-dark(#ffca99, #663100);
  --color-primary-300: light-dark(#ffb066, #994a00);
  --color-primary-400: light-dark(#ff9633, #cc6300);
  --color-primary-500: light-dark(#ff7b00, #ff7b00);
  --color-primary-600: light-dark(#cc6300, #ff9633);
  --color-primary-700: light-dark(#994a00, #ffb066);
  --color-primary-800: light-dark(#663100, #ffca99);
  --color-primary-900: light-dark(#331900, #ffe5cc);
  --color-primary-950: light-dark(#241100, #fff2e5);

  /* Text */
  --color-text-50: light-dark(#f2f2f2, #0d0d0d);
  --color-text-100: light-dark(#e6e6e6, #1a1a1a);
  --color-text-200: light-dark(#cccccc, #333333);
  --color-text-300: light-dark(#b3b3b3, #4d4d4d);
  --color-text-400: light-dark(#999999, #666666);
  --color-text-500: light-dark(#808080, #808080);
  --color-text-600: light-dark(#666666, #999999);
  --color-text-700: light-dark(#4d4d4d, #b3b3b3);
  --color-text-800: light-dark(#333333, #cccccc);
  --color-text-900: light-dark(#1a1a1a, #e6e6e6);
  --color-text-950: light-dark(#0d0d0d, #ffffff);
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
