@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
span,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* colors */

:root {
  color-scheme: light dark;

  /* Accent */
  --color-accent-50: light-dark(#edf7f7, #081212);
  --color-accent-100: light-dark(#d8f0ef, #0f2423);
  --color-accent-200: light-dark(#b8e0df, #1f4746);
  --color-accent-300: light-dark(#94d1cf, #2e6b69);
  --color-accent-400: light-dark(#70c2bf, #3d8f8c);
  --color-accent-500: light-dark(#4db3af, #4db3af);
  --color-accent-600: light-dark(#3d8f8c, #70c2bf);
  --color-accent-700: light-dark(#2e6b69, #94d1cf);
  --color-accent-800: light-dark(#1f4746, #b8e0df);
  --color-accent-900: light-dark(#0f2423, #d8f0ef);
  --color-accent-950: light-dark(#081212, #edf7f7);

  /* Alert - Error */
  --color-alert-error-50: light-dark(#fde8e8, #170202);
  --color-alert-error-500: light-dark(#e71818, #e71818);
  --color-alert-error-950: light-dark(#170202, #fde8e8);

  /* Alert - Success */
  --color-alert-success-50: light-dark(#e5ffe8, #001a02);
  --color-alert-success-500: light-dark(#19e12a, #19e12a);
  --color-alert-success-950: light-dark(#001a02, #e5ffe8);

  /* Alert - Warning */
  --color-alert-warning-50: light-dark(#fffee5, #1a1900);
  --color-alert-warning-500: light-dark(#ddd200, #fff700);
  --color-alert-warning-950: light-dark(#1a1900, #fffee5);

  /* Background */
  --color-background-50: light-dark(#ffffff, #080c11);
  --color-background-100: light-dark(#eef1f7, #101823);
  --color-background-200: light-dark(#dce4ef, #202f46);
  --color-background-300: light-dark(#b9c8df, #304769);
  --color-background-400: light-dark(#96adcf, #405e8c);
  --color-background-500: light-dark(#7391bf, #5076af);
  --color-background-600: light-dark(#5076af, #7391bc);
  --color-background-700: light-dark(#405e8c, #96adcf);
  --color-background-800: light-dark(#304769, #b9c8df);
  --color-background-900: light-dark(#202f46, #dce4ef);
  --color-background-950: light-dark(#101823, #eef1f7);

  /* Fixed */
  --color-fixed-black: light-dark(#000000, #000000);
  --color-fixed-white: light-dark(#ffffff, #ffffff);

  /* Primary */
  --color-primary-50: light-dark(#e6eafe, #010419);
  --color-primary-100: light-dark(#ced5fd, #020931);
  --color-primary-200: light-dark(#9caafc, #031163);
  --color-primary-300: light-dark(#6b80fa, #051a94);
  --color-primary-400: light-dark(#3956f9, #0623c6);
  --color-primary-500: light-dark(#082cf7, #082cf7);
  --color-primary-600: light-dark(#0623c6, #3956f9);
  --color-primary-700: light-dark(#051a94, #6b80fa);
  --color-primary-800: light-dark(#031163, #9caafc);
  --color-primary-900: light-dark(#020931, #ced5fd);
  --color-primary-950: light-dark(#010419, #e6eafe);

  /* Text */
  --color-text-50: light-dark(#f2f2f2, #0d0d0d);
  --color-text-100: light-dark(#e6e6e6, #1a1a1a);
  --color-text-200: light-dark(#cccccc, #333333);
  --color-text-300: light-dark(#b3b3b3, #4d4d4d);
  --color-text-400: light-dark(#999999, #666666);
  --color-text-500: light-dark(#808080, #808080);
  --color-text-600: light-dark(#666666, #999999);
  --color-text-700: light-dark(#4d4d4d, #b3b3b3);
  --color-text-800: light-dark(#333333, #cccccc);
  --color-text-900: light-dark(#1a1a1a, #e6e6e6);
  --color-text-950: light-dark(#0d0d0d, #ffffff);
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
