.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  color: var(--color-text-900);
}

.required {
  margin-left: 4px;
}

.input_container_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_container {
  display: flex;
  background-color: var(--color-background-100);
  border-radius: 4px;
  border: 1px solid transparent;
}

.input_container input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-text-950);
  width: 100%;
  padding: 10px 12px;
  font-size: 0.875rem;
}

.input_container:has(input:focus) {
  border: 1px solid var(--color-primary-500);
}

.error {
  color: var(--color-alert-error-500);
}
