.separator {
  flex-shrink: 0;
  background-color: var(--color-background-300);
}

.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.separator[data-orientation="vertical"] {
  width: 1px;
  height: 100%;
  align-self: stretch;
  min-height: 1rem;
}
