.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

/* primary */

.button.primary {
  background-color: var(--color-primary-500);
  border: none;
}

.button.primary:hover:enabled {
  background-color: var(--color-primary-600);
}

.button.primary span {
  color: var(--color-fixed-white);
}

/* secondary */

.button.secondary {
  background-color: var(--color-background-300);
  border: none;
}

.button.secondary:hover:enabled {
  background-color: var(--color-background-400);
}

.button.secondary span {
  color: var(--color-text-900);
}

/* outlined */

.button.outlined {
  background-color: transparent;
  border: 1px solid var(--color-primary-800);
}

.button.outlined:hover:enabled span {
  text-decoration: underline;
}

.button.outlined span {
  color: var(--color-primary-800);
}

/* text */

.button.text {
  background-color: transparent;
  color: var(--color-primary-800);
  border: none;
}

.button.text span {
  color: var(--color-primary-800);
}

.button.text:hover:enabled span {
  text-decoration: underline;
}

/* icon */

.button.icon {
  width: fit-content;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
}

.button.icon:hover:enabled {
  background-color: var(--color-primary-50);
}

.button.icon span {
  display: none;
}

/* disabled */
.button:disabled {
  background-color: var(--color-primary-50);
  border: none;
  cursor: not-allowed;
}

.button:disabled span {
  color: var(--color-text-300);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button.loading svg {
  /* rotate animation */
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* sizes */

.button.extra_large,
.button.large {
  padding: 8px 16px;
  gap: 12px;
}

.button.extra_large svg {
  width: 24px;
  height: 24px;
}

.button.large svg {
  width: 20px;
  height: 20px;
}

.button.small {
  padding: 6px 16px;
  gap: 10px;
}

.button.small svg {
  width: 18px;
  height: 18px;
}

.button.icon {
  padding: 0;
}

.button.icon svg {
  width: 24px;
  height: 24px;
}
