._progressBarContainer_1dwzp_1{height:8px;border-radius:4px;overflow:hidden;background-color:var(--color-background-200)}._progressBar_1dwzp_1{height:100%;border-radius:8px;transition:width .3s ease}
