.command {
  background-color: var(--color-background-100);
  color: var(--color-text-950);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  border-radius: 0.375rem;
  border: none;
  position: absolute;
}

.dialogContent {
  overflow: hidden;
  padding: 0;
}

.commandInputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.25rem;
  padding: 0 0.75rem;
  border-bottom: 1px solid var(--color-background-200);
}

.searchIcon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  opacity: 0.5;
}

.commandInput {
  background-color: transparent;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  outline: none;
  border: none;
}

.commandList {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-padding-top: 0.25rem;
}

.commandEmpty {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
}

.commandGroup {
  padding: 0.25rem;
  overflow: hidden;
  color: var(--color-text-950);
}

.commandGroup :global([cmdk-group-heading]) {
  color: var(--color-text-500);
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.commandItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  outline: none;
  cursor: default;
  user-select: none;
}

.commandItem[data-selected="true"] {
  background-color: var(--color-accent-100);
  color: var(--color-text-900);
}

.commandItem[data-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

.commandItem :global(svg:not([class*="text-"])) {
  color: var(--color-text-500);
}

.commandItem :global(svg) {
  pointer-events: none;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}

.commandShortcut {
  margin-left: auto;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: var(--color-text-500);
}

.commandSeparator {
  height: 1px;
  background-color: var(--color-background-200);
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
