.container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;

  input {
    display: none;
  }
}

.checkbox_box {
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid var(--color-text-700);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: none;
  }
}

.container:has(input:checked) .checkbox_box {
  background-color: var(--color-primary-600);
  border: 1px solid var(--color-primary-600);

  svg {
    display: block;
  }
}
