.button {
  width: 200px;
  justify-content: space-between;
  background-color: var(--color-background-100) !important;
  width: 100%;
  padding: 10px 12px !important;

  span {
    font-weight: normal;
    color: var(--color-text-950) !important;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    color: var(--color-text-900);
  }
}

.empty {
  span {
    color: var(--color-text-400) !important;
    font-weight: 300 !important;
  }
}

.icon {
  opacity: 0.5;
}

.popover {
  padding: 0;
}

.input {
  height: 2.25rem; /* h-9 */
}

.checkVisible {
  margin-left: auto;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.checkHidden {
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.errorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error {
  color: var(--color-alert-error-500);
}

.hint {
  color: var(--color-text-800);
}

.required {
  margin-left: 4px;
}
