.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-decoration: none;
}

/* primary */

.button.primary {
  background-color: var(--color-primary-400);
  border: none;
}

.button.primary:hover:enabled {
  background-color: var(--color-primary-300);
}

.button.primary span,
.button.primary:hover:enabled span {
  color: var(--color-text-900);
}

/* secondary */

.button.secondary {
  background-color: var(--color-background-200);
  border: none;
}

.button.secondary:hover:enabled {
  background-color: var(--color-background-300);
}

.button.secondary span {
  color: var(--color-text-900);
}

/* outlined */

.button.outlined {
  background-color: transparent;
  border: 1px solid var(--color-text-900);
}

.button.outlined:hover:enabled span {
  text-decoration: underline;
}

.button.outlined span {
  color: var(--color-text-900);
}

/* text */

.button.text {
  background-color: transparent;
  color: var(--color-text-900);
  border: none;
}

.button.text span {
  color: var(--color-text-900);
}

.button.text:hover:enabled span {
  text-decoration: underline;
}

/* icon */

.button.icon {
  width: fit-content;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
}

.button.icon:hover:enabled {
  background-color: var(--color-primary-50);
}

.button.icon span {
  display: none;
}

/* sizes */

.button.extra_large,
.button.large {
  padding: 8px 16px;
  gap: 12px;
}

.button.extra_large svg {
  width: 24px;
  height: 24px;
}

.button.large svg {
  width: 20px;
  height: 20px;
}

.button.small {
  padding: 6px 16px;
  gap: 10px;
}

.button.small svg {
  width: 18px;
  height: 18px;
}
