.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.1);
}

@supports (backdrop-filter: blur(2px)) {
  .overlay {
    backdrop-filter: blur(2px);
  }
}

.overlay[data-state='open'] {
  animation: fadeIn 150ms ease-out;
}

.overlay[data-state='closed'] {
  animation: fadeOut 150ms ease-out;
}

.overlay[data-open] {
  animation: fadeIn 150ms ease-out;
}

.overlay[data-closed] {
  animation: fadeOut 150ms ease-out;
}

.content {
  position: fixed;
  z-index: 50;

  display: flex;
  flex-direction: column;
  height: auto;

  background: var(--color-background-50);
  color: var(--color-text-900);
  font-size: 0.875rem;
}

.content[data-vaul-drawer-direction='bottom'] {
  left: 0;
  right: 0;
  bottom: 0;

  margin-top: 6rem;
  max-height: 80vh;

  border-top: 1px solid var(--color-background-200);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.content[data-vaul-drawer-direction='top'] {
  left: 0;
  right: 0;
  top: 0;

  margin-bottom: 6rem;
  max-height: 80vh;

  border-bottom: 1px solid var(--color-background-200);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.content[data-vaul-drawer-direction='left'] {
  top: 0;
  bottom: 0;
  left: 0;

  width: 75%;
  border-right: 1px solid var(--color-background-200);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.content[data-vaul-drawer-direction='right'] {
  top: 0;
  bottom: 0;
  right: 0;

  width: 75%;
  border-left: 1px solid var(--color-background-200);
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

@media (min-width: 640px) {
  .content[data-vaul-drawer-direction='left'],
  .content[data-vaul-drawer-direction='right'] {
    max-width: 24rem;
  }
}

.handle {
  width: 100px;
  height: 0.25rem;
  border-radius: 9999px;
  margin: 1rem auto 0;
  flex-shrink: 0;

  background: var(--color-background-200);

  display: none;
}

.content[data-vaul-drawer-direction='bottom'] .handle {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.125rem;
}

.content[data-vaul-drawer-direction='bottom'] .header,
.content[data-vaul-drawer-direction='top'] .header {
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    gap: 0.125rem;
    text-align: left;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: auto;
}

.title {
  color: var(--color-text-950);
  font-size: 1rem;
  font-weight: 500;
}

.description {
  color: var(--color-text-800);
  font-size: 0.875rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
